# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.json

# actual vid assets
*.mp4
*.mov
*.png
pose_est_tutorial/posEstVids/
CARs_app/sample_CARs/

# Distribution / packaging
.Python

# Flask stuff:
instance/
.webassets-cache

# VScode
.vscode