# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# actual vid assets
*.mp4
*.mov

# Distribution / packaging
.Python

# Flask stuff:
instance/
.webassets-cache

# VScode
.vscode